{%- assign pages_in_section = site.pages 
    | where_exp: "p", "p.dir == include.parent_dir_path" 
    | where_exp: "p", "p.exclude_from_toc != true" 
    | sort: "order" -%}
{%- assign current_url = page.url | relative_url -%}

{%- if pages_in_section.size > 0 -%}

  <ul>

    {%- for p in pages_in_section -%}
    
      {%- assign subtitle = p.subtitle | p.description -%}
      {%- capture item_text -%}{{ p.title }}{%- if subtitle and subtitle.length > 0 -%}: {{ subtitle }}{%- endif -%}{%- endcapture -%}
      
      {%- if p.content_dir -%}
      
        {%- unless p.content_dir contains "/" -%}
        
          {%- capture content_path %}{{ include.parent_dir_path }}{{ p.content_dir }}/{% endcapture -%}
          
          <li>{{ item_text }}
            {%- include navigation-section.html parent_dir_path=content_path -%}
          </li>

        {%- endunless -%}
        
      {%- else -%}

        {%- assign dest_url = p.url | relative_url -%}
        
        <li>
        {%- if p.href -%}
          <a href="{{ p.href }}" class="external">{{ item_text }}</a>
        {%- elsif dest_url == current_url -%}
          <span class="strong">{{ item_text }}</span>
        {%- else -%}
          <a href="{{ p.href }}">{{ item_text }}</a>
        {%- endif -%}
        </li> 
        
      {%- endif -%}

    {%- endfor -%}
    
  </ul>

{%- endif -%}
