{%- assign delimiter = include.delimiter | default: ': ' -%}
{%- if include.path -%}
  {%- assign path_components = include.path | split: '/' -%}
  {%- assign content_dir = path_components | last -%}
  {%- assign parent_path = path_components | pop | join: '/' -%}
  <!-- {{ parent_path }}|{{ content_dir }} -->
  {%- capture prefix -%}
    {%- if parent_path != '' -%}
      {%- include navigation-location.html delimiter=delimiter path=parent_path -%}
      {{ delimiter }}
    {%- endif -%}
  {%- endcapture -%}
  {%- capture terminated_parent_path -%}{{ parent_path }}/{%- endcapture -%}
  {%- assign section_page = site.pages 
      | where_exp: 'p', 'p.dir == terminated_parent_path' 
      | where_exp: 'p', 'p.content_dir == content_dir' 
      | first -%}
  {{ prefix }}{{ section_page.title }}
{%- else -%}
  {% assign path = page.dir | split: '/' | join: '/' %}
  {%- capture prefix -%}
    {%- if path != '' -%}
      {%- include navigation-location.html delimiter=delimiter path=path -%}
      {{ delimiter }}
    {%- endif -%}
  {%- endcapture -%}
  {{ prefix }}{{ page.title }}
{%- endif -%}
