{%- if include.path -%}

  {%- assign path_components = include.path | split: '/' -%}
  {%- assign content_dir = path_components | last -%}
  {%- assign parent_path = path_components | pop | join: '/' -%}
  {%- capture terminated_parent_path -%}{{ parent_path }}/{%- endcapture -%}
  {%- assign section_page = site.pages 
      | where_exp: 'p', 'p.dir == terminated_parent_path' 
      | where_exp: 'p', 'p.content_dir == content_dir' 
      | first -%}

  {%- capture components -%}
    {{ section_page.title }}|{{ section_page.url }}
    {%- if parent_path != '' -%}
      ||{%- include navigation-location.html path=parent_path -%}
    {%- endif -%}
  {%- endcapture -%}

{%- else -%}

  {% assign path = page.dir | split: '/' | join: '/' %}

  {%- capture components -%}
    {{ page.title }}
    {%- if path != '' -%}
      ||{%- include navigation-location.html path=path -%}
    {%- endif -%}
  {%- endcapture -%}

{%- endif -%}

{{ components }}